.main-content {
  position: relative;
  padding-bottom: 90px;
  .interaction-tools {
    min-height: 100px;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-from {
      display: flex;
      align-items: center;
      width: 300px;
      position: relative;
      .icon-loupe {
        font-size: 20px;
        position: absolute;
        left: 10px;
      }
      #titleSearch {
        padding-left: 40px;
        font-style: italic;
        border-radius: 0;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .custom-select {
      width: 220px;
      border-radius: 0;
      &:focus {
        box-shadow: none;
      }
    }
    .btn.btn-success {
      width: 150px;
    }
  }
  .cards-field {
    padding-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px auto;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    .task-card {
      width: 250px;
      height: 250px;
      background: $taskCardColor;
      box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      &-top-group {
        height: 170px;
      }
      &-title {
        margin-bottom: 0;
        height: 70px;
        text-align: center;
        overflow: auto;
        font-size: 18px;
        font-weight: 600;
      }
      &-descr {
        height: 100px;
        margin-bottom: 0;
        text-align: center;
        overflow: auto;
        font-size: 16px;
      }
      &-bottom-group {
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
      }
      &-priority {
        width: 60px;
        height: 30px;
        border-radius: 10px;
        text-align: center;
        padding-top: 5px;
        font-weight: 600;
        font-size: 13px;
      }
      .status-low {
        background: $lowStatusColor;
      }
      .status-normal {
        background: $normalStatusColor;
      }
      .status-high {
        background: $highStatusColor;
      }
      &-options {
        .btn.btn-secondary.dropdown-toggle {
          height: 35px;
          width: 35px;
          border-radius: 10px;
          background: $optionsBtnColor;
          padding: 4px 0 0 0;
          .icon-settings {
            color: #000;
            font-size: 20px;
          }
          &::after {
            display: none;
          }
        }
      }
    }
    .done {
      position: relative;
      &::after {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url('../img/svg/checked.svg');
        background-size: contain;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 3;
      }
      &::before {
        content: '';
        width: 250px;
        height: 250px;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    ::-webkit-scrollbar {
      width: 4px;
      &:horizontal {
        height: 4px;
      }
    }
    ::-webkit-scrollbar-track {
      background-color: #ece47e;
      border-radius: 2px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #cdca9d;
      border-radius: 2px;
    }
    ::-webkit-scrollbar-corner {
      display: none;
    }
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    .new-task-window {
      position: absolute;
      z-index: 10;
      width: 290px;
      height: 420px;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      padding: 20px;
      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 600;
        .options-group {
          .form-control {
            &:focus {
              box-shadow: none;
            }
          }
          .custom-select {
            &:focus {
              box-shadow: none;
            }
          }
        }
        .btn-group {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .btn.btn-dark,
          .btn.btn-info {
            width: 100px;
            border-radius: 0;
            &:nth-child(1) {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
