header {
  background-color: $headerColor;
  min-height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  .title {
    padding-left: 20px;
    font-size: 22px;
    font-weight: 600;
    padding-top: 15px;
  }
}
