@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot?pa210p');
  src: url('../fonts/icons/icomoon.eot?pa210p#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?pa210p') format('truetype'),
    url('../fonts/icons/icomoon.woff?pa210p') format('woff'),
    url('../fonts/icons/icomoon.svg?pa210p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-square:before {
  content: '\e900';
}
.icon-loupe:before {
  content: '\e901';
}
.icon-settings:before {
  content: '\e902';
}
.icon-sort-down-solid:before {
  content: '\e909';
}
